.navbar {
  min-height: 80px;
  position: fixed;
  width: 100%;
  background-color: #3a063b;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  z-index: 99;
  white-space: nowrap;
  text-align: center;
}

.header {
  background-color: #3a063b;
  background-image: url("./images/header.png");
  background-repeat: repeat;
  color: #fff;
  /* width: 1280px; */
  min-height: 400px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.footer {
  background: #3a063b;
  height: 80px;
  position: relative;
  color: #fff;
  overflow: auto;
}

.App {
  text-align: center;
}
