.navbar {
  min-height: 80px;
  position: fixed;
  width: 100%;
  background-color: #3a063b;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  z-index: 99;
  white-space: nowrap;
  text-align: center;
}

.navbar span {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}

.header {
  background-color: #3a063b;
  background-image: url("./images/header.gif");
  background-repeat: repeat;
  color: #fff;
  /* width: 1280px; */
  min-height: 400px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.footer {
  background: #3a063b;
  height: 80px;
  position: relative;
  color: white;
  overflow: auto;
  text-align: center;
}

.footer>.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  font-weight: 600;
  font-size: 8px;
}
